a:link {
	color: white;
	text-decoration: none;
	font-weight: normal;
}
a:visited {
	color: white;
	text-decoration: none;
	font-weight: normal;
}
a:hover {
	color: white;
	text-decoration: underline;
	font-weight: normal;
}
a:active {
	color: white;
	text-decoration: none;
	font-weight: normal;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Alegreya';
	font-size: 12px;
	box-sizing: border-box;
	background: black;
}
div {
	box-sizing: border-box;
}
h1 {
	font-size: 12px;
	margin-top: 2em;
}
#squig {
	position: fixed;
	width: 100%;
	height: 100%;
	right: -100px;
	top: -100px;
}
/*#info {
	position: relative;
	top: 10px;
	left:50px;
	z-index:1;
} */

#info a {
	font-weight: bold;
	color: white;
}
#nav {
	position: fixed;
	top: 25px;
	left: 350px;
	z-index: 1;
}
.center {
	width: 100%;
	padding: 0 8% 0 8%;
	text-align: center;
	margin: 40px 0 40px 0;
}
.center a {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}
a.blacklink {
	color: white;
}
h1 {
	color: white;
}
.blacklinks a {
	color: white;
	font-weight: bold;
}
.news {
	position: relative;
	left: 50px;
	margin-bottom: 40px;
	font-family: 'Open Sans';
}
.news a {
	color: white;
}
/* 	overflow:scroll; */

/* z-index:2; */

/* 	background-color:white; */

/*
transform:rotate(3deg);
-ms-transform:rotate(3deg); 
-moz-transform:rotate(3deg);
-webkit-transform:rotate(3deg);
-o-transform:rotate(3deg); 
*/

}
.exhibit {
	margin-bottom: 100px;
	margin-top: -12px;
	margin-bottom: 50px;
}
.images {
	width: 100%;
	margin-bottom: 50px;
	/*
	transform:rotate(-7deg);
-ms-transform:rotate(-7deg);
-moz-transform:rotate(-7deg);
-webkit-transform:rotate(-7deg);
-o-transform:rotate(-7deg);
*/
}
.images img {
	width: 100%;
}
.images img:not(:last-child) {
	margin-bottom: 40px;
}
.caption {
	color: white;
	font-weight: bold;
}
#corner {
	position: fixed;
	background-color: white;
	bottom: 0px;
	right: 0px;
	width: 200px;
	height: 200px;
	z-index: 9999;
	opacity: .8;
}
.tcha {
	position: relative;
	margin-left: 1000px;
	margin-bottom: -30px;
}
#gradient {
	position: fixed;
	top: 0px;
	height: 100%;
	width: 300px;
	right: 0px;
	background: #ffffff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 39%, #aaaaaa 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(39%, #ffffff), color-stop(100%, #aaaaaa));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffffff 39%, #aaaaaa 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffffff 39%, #aaaaaa 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffffff 39%, #aaaaaa 100%);
	/* IE10+ */
	background: linear-gradient(to right, #ffffff 39%, #aaaaaa 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa', GradientType=1);
	/* IE6-9 */
}
.left {
	width: 20%;
	text-align: center;
	float: left;
	margin: 40px 0 40px 0;
	position: fixed;
}
.right {
	width: 80%;
	float: right;
	padding: 0;
}
@media (max-width: 767px) {
	.left {
		width: 100%;
		text-align: center;
		position: relative;
		margin: 10px 0 40px 0;
	}
	.right {
		width: 100%;
		float: none;
		margin: 10px 0 10px 0;
	}
}
/* cyrillic-ext */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}
/* vietnamese */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}